
<div class="messages">
    <div class="message invalid" ng-message="required"><small>This field is required</small></div>
    <div class="message invalid" ng-message="minlength"><small>Too short</small></div>
    <div class="message invalid" ng-message="maxlength"><small>Too long</small></div>
    <div class="message invalid" ng-message="pattern"><small><strong>Invalid</strong></small></div>
    <div class="message invalid" ng-message="maxDate"><small><strong>Date is Set After Today</strong></small></div>
    <div class="message invalid" ng-message="minDate"><small><strong>Date is too Old</strong></small></div>
    <div class="message invalid" ng-message="clientPriority"><small><strong>Priority currently in use</strong></small></div>
</div>