<div class="modal-content">
    <!--HEADER-->
    <div class="modal-header text-center">
        <div class="align-items-center">
            <h2 class="" style="margin-bottom:-15px">{{ vm.title || 'Select Date'}}</h2>
        </div>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="text-center pad-top pad-bottom pad-top pad-bottom">
            <div class="dateSelector" date-select sb-select-class="form-control" ng-model="vm.someDateTemp" max="{{vm.max}}" min="{{vm.min}}"></div>
        </div>

    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <div class="row clearfix text-center">
            <div class="">
                <button class="btn btn-info btn-lg full-width" ng-click="vm.cancel();" data-dismiss="modal">CANCEL</button>
                <button class="btn btn-success btn-lg full-width" 
                        ng-disabled="!vm.date" 
                        data-dismiss="modal" 
                        ng-click="vm.submit();">SUBMIT
                </button>
            </div>
        </div>

    </div>

</div>





